.container-fluid {
  margin-bottom: 10rem; }

body {
  font-family: "Lato", "open sans", "sans-serif";
  font-size: 16px;
  color: #11131A;
  background-color: #fffdfa;
  -webkit-font-smoothing: antialiased; }

.container-fluid {
  padding: 0 6vw; }

h1, h2, h3 {
  font-family: "Droid Serif", georgia, serif;
  font-weight: 700; }

a {
  color: #161b24; }

a:hover, a:focus {
  text-decoration: none;
  color: #11131A; }

.banner {
  margin: 50px 0;
  background-color: #161B24;
  width: 100%;
  border-bottom: 3px solid #E6A43C;
  color: #FFFDFA;
  padding: .5em;
  padding-left: 6vw;
  letter-spacing: .04em;
  font-style: italic;
  text-shadow: -2px 2px #11131A; }

.btn {
  border-radius: 0;
  padding: 3px 20px;
  letter-spacing: .05em;
  font-size: 18px;
  transition: background-color .2s;
  margin: .25em; }

.btn-primary {
  color: #fffdfa;
  background-color: rgba(27, 32, 43, 0.9);
  border: none;
  border-bottom: 3px solid #11131A; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 3px solid #11131A; }

.btn-danger {
  color: #fffdfa;
  background-color: #e6a43c;
  border: none;
  border-bottom: 3px solid #bd7d18; }
  .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #bd7d18;
    border-bottom: 3px solid #bd7d18; }

.navbar-default {
  background-color: rgba(27, 32, 43, 0.9);
  color: #fffdfa;
  border: none;
  font-size: 18px; }

.navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav > li:active, .navbar-default .navbar-nav > li:focus {
  border-bottom: 2px solid #e6a43c; }

.navbar-default .navbar-nav > li > a {
  color: #fffdfa;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: #e6a43c; }

.navbar-default .navbar-toggle {
  border: none; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #161b24; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e6a43c; }

.navbar-default .navbar-collapse {
  border-top: 2px solid #161b24;
  border-color: #161b24; }

.navbar-right {
  position: absolute;
  right: 2rem; }

.navbar-default .navbar-brand {
  float: left;
  height: 52px;
  padding: 15px 25px;
  font-size: 18px;
  line-height: 20px;
  font-family: "Droid Serif", georgia, serif;
  font-size: 125%;
  font-weight: 700;
  font-style: italic;
  letter-spacing: .03em;
  color: #fffdfa; }
  .navbar-default .navbar-brand:hover {
    color: #e6a43c;
    border-bottom: 2px solid #e6a43c; }

.nav > li {
  cursor: pointer;
  padding: 0 .25em; }

footer {
  background-color: #161b24;
  z-index: 1000;
  width: 100%;
  color: #fffdfa; }
  footer h2 {
    display: inline-block;
    background: #fffdfa;
    color: rgba(255, 253, 250, 0.9);
    width: 1.2em;
    height: 1.2em;
    padding-left: .2em;
    padding-top: .1em;
    margin: 0 .1em;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    footer h2:hover {
      background: #aba690; }

a.websites {
  color: #fffdfa; }
  a.websites:hover, a.websites:active, a.websites:visited {
    color: #aba690; }

.headshot {
  width: 220px;
  padding: 2rem; }

.social-icons {
  margin-top: 1em; }

i {
  margin-right: .6em; }

.hr-form {
  border-top: 2px solid #e4e0cc; }

.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 2px; }

form h3 {
  margin-top: 2em; }

.centered-form {
  color: #111;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 50%;
  background: rgba(255, 253, 250, 0.95);
  padding: 0; }
  .centered-form form {
    padding: 0 2em;
    margin-bottom: 2em; }
  .centered-form h1, .centered-form h2 {
    font-weight: 300; }

.form-header {
  color: #fffdfa;
  background-color: rgba(27, 32, 43, 0.9);
  width: 100%;
  border-bottom: 2px solid #e6a43c;
  margin: 0 0 1em 0;
  padding: 0.2em; }

.login-group {
  margin-left: -11px; }

.carousel-inner > .item {
  height: 100%; }

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  max-width: 100%;
  height: 100%;
  margin: 0 auto; }

.carousel-control {
  color: #161b24;
  text-shadow: none; }

.carousel-control:hover {
  color: #11131A; }

.carousel-control.right {
  background-image: none;
  color: #161b24; }

.carousel-control.right span {
  padding: 0 0.1em 1.3em 0; }

.carousel-control.right span:hover {
  border-bottom: 4px solid #e6a43c; }

.carousel-control.left {
  background-image: none;
  color: #161b24; }

.carousel-control.left span {
  padding: 0 0.1em 1.3em 0; }

.carousel-control.left span:hover {
  border-bottom: 4px solid #e6a43c; }

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  text-shadow: -2px 2px 7px #11131A; }

#search-button {
  display: inline-block; }

.search-form {
  text-align: center; }
  .search-form .form-control {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #e4e0cc;
    box-shadow: none;
    -webkit-box-shadow: none; }

.main-carousel {
  height: 500px;
  margin: 3rem 0 0 0; }
  .main-carousel .carousel, .main-carousel .carousel-inner {
    height: 100%; }
  .main-carousel img {
    height: 100%; }

.home-information {
  color: #aba690;
  margin: 2rem 0 0 0;
  border-top: 2px solid #aba690;
  padding: 3rem 0 0 0; }

.info {
  padding-left: 0; }

.info-three {
  padding-right: 0; }

.input-group-addon {
  padding: 6px 6px;
  font-size: 13px; }

.greyedOutLabels {
  color: #AAA; }

.text-highlights-green:disabled {
  border: 3px solid #569646;
  color: #000;
  font-weight: 700;
  padding: .2em .5em; }

.assumptions-form label, .flip-form label, .buy-hold-form label {
  font-weight: 400; }

label.text-weight-bold {
  font-weight: 700; }

select.blue-background {
  background-color: #99ccff; }

.loss {
  border: 2px solid #ba3a3a;
  font-weight: 700;
  padding: .2em .5em; }

.profit {
  border: 2px solid #569646;
  font-weight: 700;
  padding: .2em .5em; }

.login-background {
  background: url("../../images/Mpls-2.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0; }

.failed-login {
  width: 100%;
  margin-top: 5em; }

.file-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap; }

.document {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 225px;
  min-width: 225px;
  max-width: 225px;
  border: 4px solid #e4e0cc;
  color: #aba690;
  text-align: center;
  position: relative;
  margin: 1rem;
  cursor: pointer; }
  .document:hover {
    color: tomato; }
  .document .glyphicon {
    font-size: 24px; }

.document-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.symbols {
  color: #aba690; }
  .symbols:hover {
    text-decoration: none;
    color: #aba690; }

.listingLabels {
  color: black; }

img.zillow-logo {
  height: auto;
  position: absolute;
  z-index: 100;
  mix-blend-mode: multiply; }

.home-information {
  float: none;
  margin: 2em auto 0 auto; }

.showing-results {
  text-align: center; }

.price-sqft {
  font-size: 125%;
  margin: 0 4.5px;
  font-weight: bolder; }

.info-three-buttons {
  margin-top: 20px; }

a.zillow-link {
  margin-top: 9em;
  color: #aba690; }
  a.zillow-link:hover {
    color: blue; }

#mortgage-pic {
  width: 100%; }

/*# sourceMappingURL=index.css.map */
