.carousel-inner > .item {
  height: 100%;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}
.carousel-control {
  color: $blue;
  text-shadow: none;
}
.carousel-control:hover {
  color: $black;
}
.carousel-control.right {
  background-image: none;
  color: $blue;
}
.carousel-control.right span {
  padding: 0 0.1em 1.3em 0;
}
.carousel-control.right span:hover {
  border-bottom: 4px solid $gold;
}
.carousel-control.left {
  background-image: none;
  color: $blue;
}
.carousel-control.left span {
  padding: 0 0.1em 1.3em 0;
}
.carousel-control.left span:hover {
  border-bottom: 4px solid $gold;
}


/// if no photos are available


.carousel-caption {
  @include centerer;
  width: 65%;
  text-shadow: -2px 2px 7px $black;
}
