.centered-form {
  color: $dark-gray;
  position: absolute;
  @include centerer;
  max-width: 600px;
  width: 80%;
  background: $white-95;
  padding: 0;
  border-radius: 6px;
  form {
    padding: 0 2em;
    margin-bottom: 2em;
  }
  h1, h2 {
    font-weight: 300;
    border-radius: 6px 6px 0 0; 
  }
}

.form-header {
  color: $white;
  background-color: rgba(27, 32, 43, 0.95);
  width: 100%;
  border-bottom: $border;
  margin: 0 0 1em 0;
  padding: .2em
}

.login-group {
  margin-left: -11px;
}
