footer {
  background-color: $blue;
    // position: fixed;
    z-index: 1000;
    // bottom: 0;
    width: 100%;
    color: $white;
    h2{
      display: inline-block;
    background: $white;
    color: $white-90;
    width: 1.2em;
    height: 1.2em;
    padding-left: .2em;
    padding-top: .1em;
    padding-bottom: 2em;
    margin: 0 .1em;
    @include transition;
    a {
      color: $blue;
    }
    &:hover{
      background: $med-gray;
    }
    }
}

a.websites {
  color: $white;
  &:hover, &:active, &:visited{
    color: $med-gray;
  }
}

.headshot {
  width: 220px;
  padding: 2rem;
}
.social-icons{
  margin-top: 1em;
}

i {
  margin-right: .6em;
}
