// .navbar-fixed-top {
//   position: relative;
// }

.navbar-default{
  background-color: $white-90;
}

.navbar-default .navbar-nav>li{

    &:hover, &:active, &:focus {
      background-color: $light-gray;
    }
}

.navbar-default .navbar-nav>li>a {
    &:hover, &:active, &:focus {
      // background-color: $light-gray;
      color: $dark-gray;
  }
}


.navbar-right {
  position: absolute;
    right: 2rem;
}
