
//Troubleshooting classes to see the space elements are taking up on the page.
//Be sure to comment these out when making a commit. //

  // div, ul, li, a, nav, form, .container, .row {
  //  border: 1px solid $black;
  // }
  //
  //div, ul, li, a, nav, form, .container, .row {
  //  background: #ddd;
  //}

 //////////

///This is so you can scroll down past the bottom of the page.
//useful for Dev//
.container-fluid {
  margin-bottom: 10rem;
}

///begin the REAL rules

body {
  font-family: $sans-serif;
  font-size: 16px;
  color: $black;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
}

.container-fluid {
  padding: 0 6vw;

}

h1, h2, h3 {
  font-family: $serif;
  font-weight: 700;
}

a{
  color: $med-gray;

}

a:hover, a:focus {
  text-decoration: none;
  color: $blue;
}

.banner {
  margin: 52px 0;
    background-color: #161B24;
    width: 100%;
    border-bottom: 3px solid #E6A43C;
    color: #FFFDFA;
    padding: .5em;
    padding-left: 6vw;
    letter-spacing: .04em;
    font-style: italic;
    text-shadow: -2px 2px $black;
}

///buttons

.btn {
  border-radius: 0;
  padding: 3px 20px;
  letter-spacing: .05em;
  font-size: 18px;
  transition: background-color .2s;
  margin: .25em;

}

.btn-primary {
    color: $white;
    background-color: $blue-90;
    border: none;
    border-bottom : 3px solid $black;
    // border-left : 3px solid $black;

    &:hover, &:active, &:focus {
      background-color: darken($blue-90, 15%);
      border-bottom : 3px solid $black;
    }

}

.btn-danger {
    color: $white;
    background-color: $gold;
    border: none;
    border-bottom : 3px solid darken($gold, 15%);
    // border-left : 3px solid darken($gold, 15%);

    &:hover, &:active, &:focus {
      background-color: darken($gold, 15%);
      border-bottom : 3px solid darken($gold, 15%);
    }

}
