//colors

$black: #11131A;
$white: rgb(255, 253, 250);
$light-gray: rgb(228, 224, 204);
$med-gray: rgb(171, 166, 144);
$dark-gray: #111;

$white-90: rgba(255, 253, 250, .9);
$white-95: rgba(255, 253, 250, .95);

$blue: rgba(22, 27, 36, 1);
$blue-90: rgba(27, 32, 43, .9);
$gold: rgb(230, 164, 60);





//fonts

$serif: 'Droid Serif', georgia, serif;
$sans-serif: 'Lato', 'open sans', 'sans-serif';

//otherClosingCosts
$border: 2px solid $gold;
