<div class="row">
  <!-- begin assumptions form -->
  <div class="col-md-6">
    <h2>Assumptions</h2>
    <h3>Purchase Assumptions</h3>
    <form class="assumptions-form form-horizontal" role="form">
      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="purchasePrice">Purchase Price</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="purchasePrice">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="closingCosts">Closing Costs</label>
        <div class="col-xs-4">
          <input class="form-control" type="text" ng-model="closingCosts">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="holdingCosts">Holding Costs</label>
        <div class="col-xs-4">
          <input class="form-control " type="text" ng-model="holdingCosts">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="includeCloseHoldCosts">Would you like to include Closing and Holding Costs in loan?</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="includeCloseHoldCosts"></select>
        </div>
      </div>

      <h3>Step 2: Rehab Assumptions</h3>
        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Something</label>
          <div class="col-xs-4">
            <input class="form-control input" type="text" ng-model="#">
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Select</label>
          <div class="col-xs-4">
            <select class="form-control" ng-model="#"></select>
          </div>
        </div>

      <h3>Step 3: Short Term Financing assumptions</h3>
      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="#">Select</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="#"></select>
        </div>
      </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Select</label>
          <div class="col-xs-4">
            <select class="form-control" ng-model="#"></select>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Something</label>
          <div class="col-xs-4">
            <input class="form-control input" type="text" ng-model="#">
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Something</label>
          <div class="col-xs-4">
            <input class="form-control input" type="text" ng-model="#">
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Something</label>
          <div class="col-xs-4">
            <input class="form-control input" type="text" ng-model="#">
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Select</label>
          <div class="col-xs-4">
            <select class="form-control" ng-model="#"></select>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Something</label>
          <div class="col-xs-4">
            <input class="form-control input" type="text" ng-model="#">
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Select</label>
          <div class="col-xs-4">
            <select class="form-control" ng-model="#"></select>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Select</label>
          <div class="col-xs-4">
            <select class="form-control" ng-model="#"></select>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label class="col-xs-8" for="#">Something</label>
          <div class="col-xs-4">
            <input class="form-control input" type="text" ng-model="#">
          </div>
        </div>

      <button class="btn btn-default btn-lg" ng-click="searchListings()">Search</button>
    </form>
  </div>

  <div class="col-md-6">
    <h2>Exit Strategies</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#">Flip</a></li>
        <li role="presentation"><a href="#">Hold / Rent</a></li>
      </ul>
  </div>
</div>
