<div class="container-fluid">
<div class="row">
  <!-- begin assumptions form -->
  <div class="col-sm-5">
    <h2>Assumptions</h2>
    <h3>Purchase Assumptions</h3>
    <form class="assumptions-form form-horizontal" role="form">
      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="purchasePrice">1. Purchase Price</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="purchasePrice" placeholder="50,000" id="purchasePrice">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="closingCosts">2. Closing Costs</label>
        <div class="col-xs-4">
          <input class="form-control" type="text" ng-model="closingCosts" placeholder="1,500" id="closingCosts">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="holdingCosts">3. Holding Costs</label>
        <div class="col-xs-4">
          <input class="form-control " type="text" ng-model="holdingCosts" placeholder="1,500" id="holdingCosts">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="includeCloseHoldCosts">4. Would you like to include Closing and Holding Costs in Loan?</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.includeCloseHoldCosts" id="includeCloseHoldCosts">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>

        </div>
      </div>

      <h3>Step 2: Rehab Assumptions</h3>
      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="rehabBudget">5. Rehab Budget</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="rehabBudget" placeholder="20,000" id="rehabBudget">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="projectRehabPeriod">6. Project Rehab Period (Months)</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.projectRehabPeriod" id="projectRehabPeriod" >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
          </select>
        </div>
      </div>

      <h3>Step 3: Short Term Financing assumptions</h3>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="financingUsed">7. Financing Used or All-Cash?</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.financingUsed" id="financingUsed">
            <option value="1">Financing</option>
            <option value="0">All Cash</option>
          </select>
        </div>
      </div>
      {{model.financingUsed}}

<span ng-show="model.financingUsed == '1'">

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="lenderAVRCostOfProject">8. Lender caps AVR or Cost of Project?</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.lenderAVRCostOfProject" id="lenderAVRCostOfProject">
            <option value="0">ARV</option>
            <option value="1">Cost</option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="lenderAVRCostOfProject">9. Max % of Cost to be Financed</label>
        <div class="col-xs-4 input-group">
          <input type="text" class="form-control input" id="exampleInputAmount" placeholder="9">
          <div class="input-group-addon">%</div>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="originationDiscountPoints">10. Origination Discount Points</label>
        <div class="col-xs-4 input-group">
          <input class="form-control input" type="text" ng-model="originationDiscountPoints" placeholder="3" name="originationDiscountPoints" id="originationDiscountPoints">
          <div class="input-group-addon">%</div>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="otherClosingCost">11. Other Closing Cost Paid to Lender</label>
        <div class="col-xs-4 input-group">
          <input class="form-control input" type="text" ng-model="otherClosingCost" placeholder="0" id="otherClosingCost">
          <span class="input-group-addon">%</span>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="pointsClosingCosts">12. Points and Closing Costs Upfront or Back-end</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.pointsClosingCosts" id="pointsClosingCosts">
            <option value="1">Paid Backend</option>
            <option value="0">Paid Upfront</option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="interestRate">13. Interest Rate</label>
        <div class="col-xs-4 input-group">
          <input class="form-control input" type="text" ng-model="interestRate" placeholder="10" id="interestRate">
          <span class="input-group-addon">%</span>

        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="interestPaymentDuringRehab">14. Interest Payment During Rehab</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.interestPaymentDuringRehab" id="interestPaymentDuringRehab" >
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="splitBackendProfitsWithLender">15. Split Back-End Profits with Lender?</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.splitBackendProfitsWithLender" id="splitBackendProfitsWithLender">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="percentagePreTaxProfits">16. What % of Pre-Tax Profits Does Lender Get?</label>
        <div class="col-xs-4 input-group">
          <input class="form-control input" type="text" ng-model="percentagePreTaxProfits" placeholder="50" id="percentagePreTaxProfits" >
          <span class="input-group-addon">%</span>
        </div>
      </div>

  </span>
<!--need this button?-->
      <button class="btn btn-default btn-lg" ng-click="searchListings()">Search</button>

    </form>
  </div>

  <div class="col-sm-5 col-sm-offset-1">
    <h2>Exit Strategies</h2>

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a ng-click="viewFlip()">Flip</a></li>
      <li role="presentation"><a ng-click="viewRent()">Hold / Rent</a></li>
    </ul>

    <form class="flip-form form-horizontal" role="form" ng-show="flipForm">
      <h3>Flip Analysis</h3>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="arvForFlip">17. After-Repair Value (ARV) for FLiP</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="arvForFlip" placeholder="100,000" id="arvForFlip">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="monthsCompleteSaleAfterRehab">18. Months to Complete Sale (After Rehab)</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.monthsCompleteSaleAfterRehab" id="monthsCompleteSaleAfterRehab">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 greyedOutLabels" for="totalCapNeeded">19. Total Capital Needed</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="totalCapNeeded" placeholder="73,000" disabled="disabled" id="totalCapNeeded">
        </div>
      </div>

<span ng-show="model.financingUsed == '1'">

      <div class="form-group form-group-sm">
        <label class="col-xs-8 greyedOutLabels" for="maxDollarsFinanced">20. Max $ that can be financed</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="maxDollarsFinanced" placeholder="63,000" disabled="disabled" id="maxDollarsFinanced">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 greyedOutLabels" for="actualToBeFinanced">21. Actual to be financed (not inc. closing/holding)</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="actualToBeFinanced" placeholder="63,000" disabled="disabled" id="actualToBeFinanced">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 greyedOutLabels" for="closingCostAddedToLoan">22. Closing/Holding Costs/Interest Added to Loan</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="closingCostAddedToLoan" placeholder="7,086" disabled="disabled" id="closingCostAddedToLoan">
        </div>
      </div>

      <hr class="hr-form">

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="totalLoanAmount">23. Total Loan Amount</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="totalLoanAmount" placeholder="70,086" disabled="disabled" id="totalLoanAmount">
        </div>
      </div>

</span>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="cashRequired">24. Cash Required (over life of project)</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="cashRequired" placeholder="7,000" disabled="disabled" id="cashRequired">
        </div>
      </div>

      <hr class="hr-form">

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="totalCostEndOfRehab">25. Total All-in Costs at end of Rehab</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="totalCostEndOfRehab" placeholder="77,086" disabled="disabled" id="totalCostEndOfRehab">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="percentageOfArv">26. % of ARV</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="percentageOfArv" placeholder="77%" disabled="disabled" id="percentageOfArv">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="projectedResalePrice">27. Projected Resale Price</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="projectedResalePrice" placeholder="100,000" id="projectedResalePrice">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="projectedCostSale">28. Projected Cost of Sale (% of Sale Price)</label>
        <div class="col-xs-4 input-group">
          <input class="form-control input" type="text" ng-model="projectedCostSale" placeholder="7" id="projectedCostSale">
          <div class="input-group-addon">%</div>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="projectedProfit">29. Projected Profit (after any lender split)</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="projectedProfit" placeholder="7,957" disabled="disabled" id="projectedProfit">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="Roi">30. ROI (Return on CASH invested)</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="Roi" placeholder="113.67%" disabled="disabled"  id="Roi">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="RoiAnnualized">31. ROI (Annualized)</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="RoiAnnualized" placeholder="341.02%" disabled="disabled" id="RoiAnnualized">
        </div>
      </div>

    </form>




    <form class="buy-hold-form form-horizontal" role="form" ng-show="buyHoldForm">
      <h3>Hold / Rent Analysis</h3>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="afterRepairValue">32. After-Repair Value (ARV) for RENT</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="afterRepairValue" placeholder="100,000" id="afterRepairValue">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="monthsToRentAfterRehab">33. 	Months to Rent (after Rehab Period is Over)</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.monthsToRentAfterRehab">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 greyedOutLabels" for="totalCapNeededTwo">34. Total Capital Needed</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="totalCapNeededTwo" placeholder="73,000" disabled="disabled" id="totalCapNeededTwo">
        </div>
      </div>

<span ng-show="model.financingUsed == '1'">

      <div class="form-group form-group-sm">
        <label class="col-xs-8 greyedOutLabels" for="maxDollarsFinancedTwo">35. Max $ that can be financed</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="maxDollarsThatCanBeFinancedTwo" placeholder="63,000" disabled="disabled" id="maxDollarsFinancedTwo">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 greyedOutLabels" for="actualToBeFinancedTwo">36. Actual to be financed (not inc. closing/holding)</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="actualToBeFinancedTwo" placeholder="63,000" disabled="disabled" id="actualToBeFinancedTwo">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="intAddedLoan">37. Closing/Holding Costs/Interest Added to Loan</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="intAddedLoan" placeholder="7,086" disabled="disabled" id="intAddedLoan">
        </div>
      </div>

      <hr class="hr-form">

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="totalLoanAmt">38. Total Loan Amount</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="totalLoanAmt" placeholder="70,086" id="totalLoanAmt" >
        </div>
      </div>
</span>
      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="cashRequired">39. Cash Required</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="cashRequired" placeholder="7,000" id="cashRequired" >
        </div>
      </div>

      <hr class="hr-form">

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="allInCost">40. Total All-in Cost at end of Rehab</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="allInCost" placeholder="77,086" id="allInCost" >
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="prcntOfArv">41. % of ARV</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="prcntOfArv" placeholder="77%" id="prcntOfArv" >
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="projectedOperatingIncome">42. Projected Operating Income</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="projectedOperatingIncome" placeholder="1,200" id="projectedOperatingIncome" >
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="projectedOperatingExpenses">43. Projected Operating Expenses</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="projectedOperatingExpenses" placeholder="1,200" id="projectedOperatingExpenses" >
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="netOperatingIncome">44. Net Operating Income (monthly)</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="netOperatingIncome" placeholder="940" disabled="disabled" id="netOperatingIncome" >
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="refinancePerm">45. Refinance into permanent financing</label>
        <div class="col-xs-4">
          <select class="form-control blue-background" ng-model="model.refinancePerm" id="refinancePerm" >
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="refiPercentARV">46. Refi % of Appraisal (ARV)</label>
        <div class="col-xs-4 input-group">
          <input class="form-control input" type="text" ng-model="refiPercentARV" placeholder="85" id="refiPercentARV">
          <div class="input-group-addon">%</div>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="newMtgPmnt">47. New Mtge Pmnt(monthly)</label>
        <div class="col-xs-4 input-group">
          <input class="form-control input" type="text" ng-model="newMtgPmnt" placeholder="7" id="newMtgPmnt">
          <div class="input-group-addon">%</div>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="amortizationYears">48. # of Amortization Years / Interest Only?</label>
        <div class="col-xs-4">
          <select class="form-control" ng-model="model.amortizationYears" id="amortizationYears">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="refiDiscPtsMiscCosts">49. Refi Discount Points and Misc Costs (%)</label>
        <div class="col-xs-4 input-group">
          <input class="form-control input" type="text" ng-model="refiDiscPtsMiscCosts" placeholder="3" id="refiDiscPtsMiscCosts">
          <div class="input-group-addon">%</div>
        </div>
      </div>
<!--Text transform green or red depending-->
      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="newMtgPmnt">50. New Mtge Pmnt (monthly)</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="newMtgPmnt" placeholder="-659" disabled="disabled" id="newMtgPmnt">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8" for="refiLoanAmt">51. Refi Loan Amount</label>
        <div class="col-xs-4">
          <input class="form-control input" type="text" ng-model="refiLoanAmt" placeholder="85,000" disabled="disabled" id="refiLoanAmt">
        </div>
      </div>

      <hr class="hr-form">


      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="cashOutRefi">52. Cash Out at Refi</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="cashOutRefi" placeholder="12,364" disabled="disabled" id="cashOutRefi">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="profitRefi">53. Profit at Refi (after any lender split)</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="profitRefi" placeholder="2,682" disabled="disabled" id="profitRefi" >
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="roiOnCashInvested">54. ROI On Cash Invested (Annualized)</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="roiOnCashInvested" placeholder="114.95%" id="roiOnCashInvested" disabled="disabled">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="orgMoneyTiedUpRefi">55. Original money tied up after refi</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="orgMoneyTiedUpRefi" placeholder="0" disabled="disabled" id="orgMoneyTiedUpRefi">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="equityLeftRefi">56. Equity Left in the Deal after Refi</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="equityLeftRefi" placeholder="15,000" disabled="disabled" id="equityLeftRefi">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="cashFlowPreTax">57. Cash Flow (Monthly, Pre-Tax)</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="cashFlowPreTax" placeholder="281" disabled="disabled" id="cashFlowPreTax">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label class="col-xs-8 text-weight-bold" for="cashOnCash">58. Cash-on-Cash (Annual, Pre-Tax)</label>
        <div class="col-xs-4">
          <input class="form-control input text-highlights-green" type="text" ng-model="cashOnCash" placeholder="infinite" disabled="disabled" id="cashOnCash">
        </div>
      </div>



    </form>

  </div>





</div>
</div>
