<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img src="../images/Nate-2-small.jpg" alt="Nate Labatt Headshot" class="headshot" />
      </div>

      <div class="col-sm-9 contact-info">
        <h3>Nate Labatt</h3>
        <p> 3217 L Galleria, Edina MN 55435</p>
        <p> email: nate.labatt@lakesmn.com</p>
        <p> Phone 952.230.3109 | Fax 952.230.3102</p>
        <a class="websites" href="https://www.lakessothebysrealty.com" target="_blank">www.lakessothebysrealty.com</a><br>
        <a class="websites" href="https://www.natelabatthomes.com" target="_blank">www.natelabatthomes.com</a>
      <!--</div>-->

      <div class="social-icons">
        <h2><a href="https://www.facebook.com/natelabatthomes/" target="_blank"><i class="fa fa-facebook"></i></a></h2>
        <h2><a href="https://www.linkedin.com/in/nate-labatt-9812948?trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin"></i></a></h2>
        <h2><a href="https://www.instagram.com/nate_labatt/" target="_blank"><i class="fa fa-instagram"></i></a></h2>
        <h2><a href="https://twitter.com/nate_labatt" target="_blank"><i class="fa fa-twitter"></i></a></h2>
      </div>
    </div>
    </div>
  </div>
</footer>
