<div class="login-background"> </div>

<div class="container centered-form">
  <h1 ng-hide="hideForm" class="text-center form-header">login</h1>

  <form ng-hide="hideForm" class="login-form form-horizontal clearfix" role="form">

    <div class="form-group form-group-sm">
      <label class="col-sm-3" for="email">Email</label>
      <div class="col-sm-9">
        <input class="form-control input" type="text" id="email" ng-model="email">
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="col-sm-3" for="password">Password</label>
      <div class="col-sm-9">
        <input class="form-control" type="password" id="password" ng-model="password">
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group login-group">
        <button class="btn btn-default btn-primary" ng-click="loginUser()">Login</button>
        <a href="#register">
          <button class="btn btn-danger">Register</button>
        </a>
      </div>

      <!--<div>-->
         <!--<button ng-click="sendEmail()">Send E-mail</button>-->
      <!--</div>-->
    </div>
    <!--<div class="form-group form-group-sm">-->
      <!--<label class="col-sm-3" for="resetPassword">Forgot Your Password?</label>-->
      <!--<div class="col-sm-9">-->
        <!--<input class="form-control" type="password" id="resetPassword" ng-model="resetPassword">-->
        <!--<button ng-click="sendEmail()">Send E-mail</button>-->
      <!--</div>-->
    <!--</div>-->

    <div class="failed-login" ng-show="failedLogin">
      <h4>Sorry, we don't recognize that name and password combination. Please try again or register as a new user.</h4>
    </div>



  </form>


  <div ng-show="hideForm">

    <div class="form-group">  <h2 class="text-center">We're sorry, In order to view this content you must login or register.</h2></div>
    <div class="col-sm-12 text-center">
      <div class="form-group"><button class="btn btn-default btn-primary" ng-click="backToForm()">Login</button>
      <a href="#register">
        <button class="btn btn-danger">Register</button>
      </a></div>

    </div>
  </div>
</div>


  <!--  -->
  <!-- <button ng-click="backToForm()">Back to Login</button> -->
