<div class="container-fluid">

  <div class="row">

    <div class="col-sm-6">
      <img id="mortgage-pic" src="{{image}}" />
      <p ng-show="imageDetails">{{}}</p>
    </div>



    <div class="col-sm-6">
  <form class="mortgage-form form-horizontal">
    <div class="form-group">
      <div class="col-sm-8">
        <label for="price">Price:</label>
      </div>
      <div class="col-sm-4">
        <input type="text" ng-model="price" id="price" currency-input class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8">
        <label for="interest-rate">Percent Interest Rate:</label>
      </div>
      <div class="col-sm-4 input-group">
        <input type="number" ng-model="interestRate" id="interest-rate" class="form-control" step="0.05" min="0" max="20">
        <div class="input-group-addon">%</div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8">
        <label for="mortgageLength">Mortgage Length</label>
      </div>
      <div class="col-sm-4">
        <select class="form-control" ng-model="years" id="mortgageLength">
          <option value="10">10 Years</option>
          <option value="15">15 Years</option>
          <option value="20">20 Years</option>
          <option value="25">25 Years</option>
          <option value="30">30 Years</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4 col-sm-offset-8">
      <button id="mortgage-button" class="btn btn-primary" ng-click="calculateMortgage()">Calculate Mortgage</button>
    </div>
  </form>
    </div>

    <div class="col-sm-6" ng-show="results" id="mortgage-results">
        <h2>Monthly payment:</h2>
        {{monthlyPayments | currency}}
        <h2>Total cost of mortgage:</h2>
        {{totalCost | currency}}
    </div>
    </div>
</div>


<div class="row">
  <div class="col-sm-offset-5 col-sm-2 text-center">
    <div class="btn-group">
      <a href="#evaluate"><button class="btn btn-primary" name="eval-button">Evaluate</button></a>
      <a href="#search"><button class="btn btn-secondary" name="search-button">New Search</button></a>
    </div>
  </div>
</div>