<div class="six columns" id="form-container">
    <form>
        <label for="price">Price:</label>
        <input type="number" step="5000" ng-model="price" id="price" />

        <label for="interest-rate">Percent Interest Rate:</label>
        <input type="number" ng-model="interestRate" id="interest-rate" />

        <!--<label for="years">Number of Years:</label>-->
        <select ng-model="years">
            <option value="10">10 Years</option>
            <option value="15">15 Years</option>
            <option value="20">20 Years</option>
            <option value="25">25 Years</option>
            <option value="30">30 Years</option>
        </select>


        <button id="mortgage-button" ng-click="calculateMortgage()">Calculate Mortgage</button>
    </form>
</div>