<div class="container-fluid">

  <form class="mortgage-form form-horizontal">
    <div class="form-group">
      <div class="col-sm-8">
        <label for="price">Price:</label>
      </div>
      <div class="col-sm-4">
        <input type="number" step="5000" ng-model="price" id="price" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8">
        <label for="interest-rate">Percent Interest Rate:</label>
      </div>
      <div class="col-sm-4">
        <input type="number" ng-model="interestRate" id="interest-rate" class="form-control" />
      </div>
    </div>

    <!--<label for="years">Number of Years:</label>-->
    <div class="form-group">
      <div class="col-sm-8">
        <label for="mortgageLength">Mortgage Length</label>
      </div>
      <div class="col-sm-4">
        <select class="form-control" ng-model="years">
          <option value="10">10 Years</option>
          <option value="15">15 Years</option>
          <option value="20">20 Years</option>
          <option value="25">25 Years</option>
          <option value="30">30 Years</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4 col-sm-offset-8">
      <button id="mortgage-button" class="btn btn-primary" ng-click="calculateMortgage()">Calculate Mortgage</button>
    </div>
  </form>
</div>
