<h1 class="banner">Resources</h1>
<div class="container-fluid">
    <div class="row"><h2>PDF Documents</h2></div>
  <div class="row file-container clearfix">
    <div class="document" ng-repeat="file in uploads">
    <div class="document-content">
        <h3 class="filename"><a href="{{file.link}}" download>{{file.title}}</a></h3>
        <a href="{{file.link}}" download><span class="glyphicon glyphicon-download-alt"></span></a></div>
    </div>
  </div>

  <div class="row">
    <h2><a href="http://www.natelabatthomes.com/" target="_blank">Follow my blog for more real estate investment news.</a></h2>

  </div>
</div>
