<form class="col-lg-2" id="searchForm">
    <label for="addressSearch"></label>
    <input class="form-control" type="text" id="addressSearch" ng-model="addressSearch" placeholder="ADDRESS">

    <label for="citySearch"></label>
    <input class="form-control" type="text" id="citySearch" ng-model="citySearch" placeholder="CITY">

    <label for="stateSearch"></label>
    <input class="form-control" type="text" id="stateSearch" ng-model="stateSearchx" placeholder="STATE">


    <label for="zipSearch"></label>
    <input class="form-control" type="text" id="zipSearch" ng-model="zipSearch" placeholder="ZIP">

    <button class="btn btn-default btn-lg" ng-click="searchListings()" id="searchButton">Search</button>
</form>