

<form class="form-inline" id="searchForm" role"form">
  <div class="form-group">
      <label for="addressSearch"></label>
    <input class="form-control" type="text" id="addressSearch" ng-model="addressSearch" placeholder="ADDRESS">
  </div>

  <div class="form-group">
    <label for="citySearch"></label>
    <input class="form-control" type="text" id="city-search" ng-model="citySearch" placeholder="CITY">
  </div>

  <div class="form-group">
    <label for="stateSearch"></label>
    <input class="form-control" type="text" id="state-search" ng-model="stateSearchx" placeholder="STATE">
  </div>

  <div class="form-group">
    <label for="zipSearch"></label>
    <input class="form-control" type="text" id="zip-search" ng-model="zipSearch" placeholder="ZIP">
  </div>

  <button class="btn btn-default btn-lg" ng-click="searchListings()" id="search-button">Search</button>
</form>

<!-- begin carousel -->
<div class="main-carousel">
    <uib-carousel active="active" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <!-- <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div> -->
      </uib-slide>
    </uib-carousel>
</div>
