.input-group-addon {
  padding: 6px 6px;
  font-size: 13px;
}

.greyedOutLabels {
  color: #AAA;
}

.text-highlights-green:disabled {
  background-color: #00FF00;
  color: #000;
  font-weight: bold;
}