.symbols {
  color: $med-gray;
  &:hover{
    text-decoration: none;
    color: $med-gray;
  }
}

.listingLabels {
  color: black;
}

img.zillow-logo {
  height: auto;
  position: absolute;
  z-index: 100;
  mix-blend-mode: multiply;
}

.home-information{
  float: none;
  margin: 2em auto 0 auto;
}

.showing-results {
  text-align: center;
}
