.symbols {
  color: $med-gray;
  &:hover{
    text-decoration: none;
    color: $med-gray;
  }
}

.listingLabels {
  color: black;
}

img.zillow-logo {
  height: auto;
  position: absolute;
  z-index: 100;
  mix-blend-mode: multiply;
}

.home-information{
  float: none;
  margin: 2em auto 0 auto;
}

.showing-results {
  text-align: center;
}

.price-sqft {
  font-size: 125%;
  margin: 0 4.5px;
  font-weight: bolder;
}

.info-three-buttons{
  margin-top: 20px;
}


a.zillow-link {
  margin-top: 9em;
  color: $med-gray;
  &:hover {
    color: blue;
  }
}
